body{
    margin: 2%;
}

.ui.input>input {
	border: 0px solid white;
}

.ui.circular.button{
	background: none;
	border: 1px solid #AAAAAA;
}

.ui.mini.button{
	background: none;
	border: none;
}

.ui.grid>.column:not(.row){
	padding-bottom: 0;
}