body{
    margin: 5%;
    font-size: 35px;
}

h1{
	font-size: 1.5em;
}

h2{
	font-size: 1.25em;
}

h5{
	font-size: 0.6em;
}



.ui.input>input {
	border: 0px solid white;
	padding: 0;
}

.ui.circular.button{
	background: none;
	border: 1px solid #AAAAAA;
}

.ui.mini.button{
	background: none;
	border: none;
}

.ui.grid>.column:not(.row){
	padding-bottom: 0;
}

.field{
	vertical-align: middle;
}

@media screen and (max-width: 800px) {
	body{
	    margin: 10%;
	    font-size: 25px;
	}
}